body {
  background-color: black;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: #F2B950;
  height: 10vh;
  min-height: 50px;
  color: black;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 1.5rem;
  border-bottom: 2px solid #f7d597;
}

.grid-container {
  display: grid;
  width: 100%;
}

.grid-right {
  position: absolute;
  right: 30px;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #F2CD5C;
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
  border-top: 2px solid #f7d597;
}

input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.25rem;
  background: white;
  color: black;
  outline: none;
  border: none;
  padding: 0 10px;
}

form button {
  width: 20%;
  background-color: #F2B950;
  border: none;
  padding: 16px 16px;
  cursor: pointer;
  font-size: 1.75rem;
}

.sign-out {
  font-size: 1.1rem;
}

.sign-in, .sign-out {
  background-color: #F2B950;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.sign-in {
  padding: 16px 16px;
  font-size: 1.5rem;
}

.sign-in:hover, .sign-out:hover {
  color: #f7d597;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.message {
  display: flex;
  align-items: center;
  word-break: break-word;
}

.message p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  text-align: left;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  /* background: #0b93f6; */
  background: #6DDAF2;
  color: black;
  font-weight: 500;
  align-self: flex-end;
}

.received p {
  background: #f7d597;;
  color: black;
  font-weight: 500;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}